.variablesContainer {
  margin: 10px;
  .templateVariable {
    margin: 5px;
  }
}

.formButtonContainer {
  margin: 10px 0;
  float: right;
}

.error{
  color: #d43f3a;
  font-size: smaller;

}

.formattedAmountContainer {
  margin: 10px 0;
  padding: 15px 0;
  text-align: center;
  font-family: Arial Black;
}
