app/backend/.gradle
app/backend/.idea
app/backend/build
app/backend/gradle
app/backend/out
app/frontend/node_modules
test/backend/.gradle
test/backend/.idea
test/backend/build
test/backend/gradle
test/backend/out
test/frontend/integration/node_modules
test/frontend/integration/mochawesome-report
test/frontend/end2end/node_modules
test/frontend/end2end/allure-results
test/frontend/end2end/allure-report
test/more_tests/accessibility/node_modules
test/more_tests/accessibility/mochawesome-report
test/more_tests/mobile/node_modules
test/more_tests/mobile/mochawesome-report