doctype html
html
  include header_partial
  body
    div(class="container")
      img(src="heracles.jpeg" height="300px" width="100%")
      p
      div(class="alert alert-danger") Uh! Some Error in the input: #{value_number}
      a(href="/" id="back_try") Back and Try Another Number


